.dice-roller {
    padding-top: 15px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
}

.flex-column {
    width: 32px;
    flex-direction: column;
}

.roller-box {
    text-align: center;
    width: 32px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
}

.dice-info {
    background-color: #222222;
    color: white;
}